@import "/src/common/styles/globalStyles.scss";

body {
  min-height: 100vh;
  background: linear-gradient(45deg, #d8c0a8, #e6d2b5, #d6c2a6);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  // display: flex;
  // justify-content: center;
  // align-items: flex-start;
  position: relative;
}

.sphere {
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1);
}

.sphere1 {
  width: 400px;
  height: 400px;
  background: radial-gradient(
    circle at 30% 30%,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(243, 229, 210, 0.8) 25%,
    rgba(226, 204, 172, 0.6) 50%,
    rgba(198, 171, 136, 0.4) 75%
  );
  top: 100px;
  right: 100px;
  animation: float3D 16s ease-in-out infinite;
  opacity: 0.9;
}

.sphere2 {
  width: 500px;
  height: 500px;
  background: radial-gradient(
    circle at 70% 70%,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(240, 223, 197, 0.8) 20%,
    rgba(218, 195, 160, 0.6) 40%,
    rgba(192, 164, 128, 0.4) 60%
  );
  bottom: 150px;
  left: 150px;
  animation: float3D 20s ease-in-out infinite reverse;
  opacity: 0.85;
}

.sphere3 {
  width: 750px;
  height: 750px;
  background: radial-gradient(
    circle at 40% 40%,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(235, 217, 194, 0.8) 20%,
    rgba(213, 189, 158, 0.6) 40%,
    rgba(186, 159, 123, 0.4) 60%
  );
  top: 21%;
  right: 50%;
  animation: float3D 17.6s ease-in-out infinite;
  opacity: 0.8;
}

.sphere4 {
  width: 450px;
  height: 450px;
  background: radial-gradient(
    circle at 60% 30%,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(248, 235, 218, 0.8) 25%,
    rgba(229, 211, 183, 0.6) 50%,
    rgba(204, 181, 148, 0.4) 75%
  );
  top: 50px;
  left: 10%;
  animation: float3D 14.4s ease-in-out infinite;
  opacity: 0.85;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes float3D {
  0% {
    transform: translateY(0) translateZ(0) rotateZ(0deg);
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1);
  }
  50% {
    transform: translateY(-40px) translateZ(50px) rotateZ(5deg);
    box-shadow: 0 25px 60px rgba(0, 0, 0, 0.15);
  }
  100% {
    transform: translateY(0) translateZ(0) rotateZ(0deg);
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1);
  }
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;

  &_navigation {
    &_sticky {
      background-color: rgba(239, 237, 237, 0.9) !important;
    }
  }

  &_header {
    margin: 20px;
    width: 90dvw;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 10px;

    &_top {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      padding-top: 10px;

      &_addresses {
        width: 100%;
        display: flex;
        justify-content: center;

        ul {
          display: flex;
          justify-content: space-between;
          width: 70%;

          li {
            font-size: 0.9rem;
            text-align: center;
            background-color: rgba(255, 255, 255, 0.3);
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
            transition: transform 0.3s, box-shadow 0.3s;
            padding: 5px 0;
            cursor: pointer;
            font-weight: 100;
            color: rgb(35, 35, 35);
            height: fit-content;
            span {
              font-weight: 400;
              color: black;
            }

            a {
              padding: 5px 15px;
              text-decoration: none;
              color: $colorText;
            }
          }

          li:hover {
            transform: translateY(-5px);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
          }
        }
      }
    }
  }
}

.footer {
  display: grid;
  grid-template-columns: 1fr 4fr;
  justify-content: center;
  padding: 60px 60px 20px;

  &_left {
    &_socials {
      margin-top: 20px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
    }
  }

  &_right {
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
      font-size: 0.8rem;
    }

    a {
      color: black;
      padding: 0 10px;
      font-size: 0.875rem;
      line-height: 1rem;
      text-decoration: none;
    }
  }
}
