@import "/src/common/styles/globalStyles.scss";

.nav {
  width: 100%;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 5px;
  z-index: 20;

  @include mobile {
    display: none;
  }

  &_panel {
    max-width: 90dvw;
    margin-bottom: 20px;
  }

  nav {
    display: flex;
    justify-content: center;
  }

  ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1050px;
    margin: 10px;

    li {
      width: 205px;

      @include tablet {
        width: auto;
      }

      span {
        padding: 5px 20px;
        border-radius: 10px;
        cursor: pointer;
        position: relative;
        display: inline-block;
        font-size: 1.2rem;
        background-color: transparent;
        overflow: hidden;
        transition: color 0.3s ease-in-out;

        @include tablet {
          font-size: 1rem;
          padding: 5px 9px;
        }

        &:hover {
          color: #cba654;
        }

        &:after {
          content: "";
          position: absolute;
          width: 0;
          height: 2px;
          bottom: 0;
          left: 0;
          background-color: #cba654;
          transition: width 0.3s;
        }

        &:hover {
          &:after {
            width: 100%;
          }
        }
      }
      .active {
        color: #cba654;
        &:after {
          width: 100%;
        }
      }
    }
  }
}

.nav_mobile {
  width: 100%;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 5px;
  z-index: 20;

  @include mobile {
    position: inherit;
  }

  @include small-tablet-and-bigger {
    display: none;
  }

  &_panel {
    max-width: 90dvw;
    height: auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }

  &_language_dropdown {
    position: relative !important;

    button {
      border-radius: 20px 0 0 20px;
    }
  }

  &_burger {
    margin-right: 20px;
  }
}

.sidebar {
  border-radius: 50px 0 0 50px;
  // transition: background-color 0.5s ease-in-out !important;
  background-color: rgba(255, 255, 255, 0.4) !important;
  backdrop-filter: blur(10px) !important;
  color: #000;

  &_list {
    border-top: 1px solid $colorTextGray;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    max-width: 1050px;
    margin: 10px;

    nav {
      display: flex;
      justify-content: center;
    }

    li {
      width: 205px;

      @include tablet {
        width: auto;
      }

      span {
        padding: 5px 20px;
        border-radius: 10px;
        cursor: pointer;
        position: relative;
        display: inline-block;
        font-size: 1.2rem;
        background-color: transparent;
        overflow: hidden;
        transition: color 0.3s ease-in-out;

        @include tablet {
          font-size: 1rem;
          padding: 5px 9px;
        }

        &:hover {
          color: #cba654;
        }

        &:after {
          content: "";
          position: absolute;
          width: 0;
          height: 2px;
          bottom: 0;
          left: 0;
          background-color: #cba654;
          transition: width 0.3s;
        }

        &:hover {
          &:after {
            width: 100%;
          }
        }
      }
      .active {
        color: #cba654;
        &:after {
          width: 100%;
        }
      }
    }
  }

  &_addresses {
    width: 100%;
    display: flex;
    justify-content: center;

    ul {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      width: 100%;
      gap: 15px;

      li {
        font-size: 0.9rem;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
        transition: transform 0.3s, box-shadow 0.3s;
        padding: 5px 0;
        cursor: pointer;
        font-weight: 100;
        color: rgb(35, 35, 35);
        height: fit-content;

        span {
          font-weight: 400;
          color: black;
        }

        a {
          padding: 5px 15px;
          text-decoration: none;
          color: $colorText;
        }
      }

      li:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
      }
    }
  }
}

:global(.p-sidebar-mask) {
  background-color: transparent !important;
}
