// Colors

$colorText: #323232;
$colorTextGray: #ccc;
$colorBorder: rgba(167, 141, 111, 0.797);
$colorBorderLight: rgba(204, 185, 164, 0.797);
$colorTextInvalid: #ff0000;

$colorImagePlaceholder: #dec29b;

$colorBackground: #eee4db;

// Transitions
@mixin hover-lift($distance: -5px, $duration: 0.3s) {
  transition: transform $duration;

  &:hover {
    transform: translateY($distance);
  }
}

$breakpoint-mobile: 576px;
$breakpoint-small-tablet: 640px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

// Mobile only
@mixin mobile {
  @media (max-width: #{$breakpoint-mobile}) {
    @content;
  }
}

// Small tablet only
@mixin small-tablet {
  @media (max-width: #{$breakpoint-small-tablet}) {
    @content;
  }
}

// Small tablet only
@mixin small-tablet-and-bigger {
  @media (min-width: #{$breakpoint-mobile}) {
    @content;
  }
}

// Tablet only
@mixin tablet {
  @media (max-width: #{$breakpoint-tablet}) {
    @content;
  }
}

// Desktop and down
@mixin desktop {
  @media (max-width: #{$breakpoint-desktop}) {
    @content;
  }
}

@mixin soft-overlay($color: #dec29b, $opacity: 0.4) {
  content: "";
  position: absolute;
  inset: 0;
  background-color: $color;
  opacity: $opacity;
  z-index: 1;
}

@mixin image($imageHref) {
  position: relative;
  background-image: url($imageHref);
  background-size: cover;
  background-position: center 60%;
  background-repeat: no-repeat;
}
