@import "/src/common/styles/globalStyles.scss";

.inputGroup {
  position: relative;
  margin: 1rem 0;
  width: 100%;
  padding: 10px;

  input {
    width: 100%;
    padding: 0.5rem 0;
    background: transparent;
    border: 1px solid $colorBorder;
    color: rgb(89, 75, 59);
    border-radius: 10px;
    font-family: "Mont";
    font-size: 1rem;
    padding: 5px 10px;
    box-sizing: border-box;

    &:focus {
      outline: none;
    }

    &:focus + label,
    &:not(:placeholder-shown) + label {
      top: -0.8rem;
      font-size: 0.75rem;
      color: rgba(167, 141, 111, 0.3);
    }
  }
}
