@import "/src/common/styles/globalStyles.scss";

.tabs {
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.013);
  backdrop-filter: blur(10px);
  align-self: center;
  margin-bottom: 30px;

  @include mobile {
    gap: 10px;
  }

  &_button {
    cursor: pointer;
    border: 0.5px solid $colorBorderLight;
    padding: 2px 15px;
    transition: background-color 200ms ease-in-out,
      border-color 200ms ease-in-out;

    @include mobile {
      border-radius: 20px;
    }

    @include small-tablet-and-bigger {
      &:first-child {
        border-radius: 50px 0 0 50px;
      }

      &:last-child {
        border-radius: 0 50px 50px 0;
      }

      &:not(:last-child) {
        border-right: 1px solid rgba(157, 154, 154, 0.117);
      }
    }
    &_active {
      background-color: rgba(255, 255, 255, 0.371);
      border-color: $colorBorderLight;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.371);
      border-color: rgba(255, 255, 255, 0.013);
    }
  }

  &_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
}
